<h1>Add Address to <%= @trip.name %></h1>

<% if @addresses.any? %>
  <ol>
  <% @addresses.each do |address| %>
    <li><%= link_to address.street, add_trip_address_path(@trip, address), method: :post %></li>
  </ol>
  <% end %>
<% else %>
  <h3>All Stops have been added to your trip already!</h3>
<% end %>