<h1>Add Address to <%= @trip.name %></h1>

<ol>
  <% @addresses.each do |address| %>
    <li><%= link_to address.street, add_trip_address_path(@trip, address), method: :post %></li>
  <% end %>
</ol>
