<%= form_for([@location, @address]) do |f| %>
  <div class="field">  
    <%= f.label :"Attraction/Address" %><br>
    <div class="ui input focus">
      <%= f.text_field :street, required: true, autofocus: true %>
    </div>
  </div>
  <br>
  <%= f.submit 'Save Attraction/Address ', class: "ui teal button"%>
<% end %>