<h1>Destinations</h1>

<ul>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location_path(location) %></li><%= link_to 'Delete Destination', location_path(location), method: :delete, data: { confirm: 'Are you sure?' } %>

  <% end %>
</ul>