
<div class="page_title_button">
  <h1><%= @location.name %></h1>
</div>

<table class="ui striped table">
  <thead>
    <tr>
      <th>Address/Attraction</th>
      <th> City</th>
    </tr>
  </thead>
  <tbody>
    <% @location.addresses.each do |address| %>
      <tr>
        <td><%= address.street %>
        <Td><%= address.location.name %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="page_title_button">
  <%= link_to 'New Address/Attraction', new_location_address_path(@location), class: "ui teal button" %>
</div>